.card-result
  line-height: 1
  display: flex
  flex-direction: row
  // padding: 0.3rem 0.8rem 0.2rem
  align-items: center

  text
    display: inline-block
    width: 6rem

  span
    display: inline-block
    text-align: center


  .score
    padding-left: 0.8rem
    text-align: right
    width: 4rem
    position relative

    .flag
      position absolute
      top: 0.2rem
      right: -1.1rem
      font-size: 0.5rem


  .ratio
    padding-right: 0.8rem
    text-align: right
    width: 4rem
    color: #646464
    font-size: 0.8rem

  .bg
    padding: 0.3rem 0.4rem 0.3rem

    .dot
      display: inline-flex
      min-width: auto
      padding: 0
      height: 16px
      width: 16px
      border-radius: 100px
      // border: 1px solid black