html
    font-family: 'Quicksand', sans-serif
body
    font-size: 14px
    font-family: 'Quicksand', sans-serif

.gallery
    display: grid
    gap: 1.5rem
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr))
    padding: 2rem 4rem
    grid-auto-rows: 1fr